[toolchain]
package_manager = "yarn"
channel = "1.89.0"
components = ["rustfmt", "clippy"]


[features]
resolution = true
skip-lint = false

[programs.localnet]
escrow = "EujENt3gyDVwqN2h3GXrpi2T6DdkGV5pafPAdXMRo3CM"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
